#**ARRAY**
* In Python, array is a collection of items stored at contiguous memory locations.
* Python does not have built-in support for Arrays, but Python Lists can be used instead.

**Why use array?**

* To store large data in one variable

* Easy to perform indexing

* Memory efficient

* Faster access

 **Array Operation**
* **append()**	Adds an element at the end of the list.
* **clear()**	Removes all the elements from the list.
* **copy()**	Returns a copy of the list.
* **count()**	Returns the number of elements with the specified value.
* **extend()**	Add the elements of a list (or any iterable), to the end of the current list.
* **index()**	Returns the index of the first element with the specified value.
* **insert()**	Adds an element at the specified position.
* **pop()**	Removes the element at the specified position.
* **remove()**	Removes the first item with the specified value.
* **reverse()**	Reverses the order of the list.
* **sort()**	Sorts the list.

In [2]:
arr = [10,20,30,40]
print(arr[2])   # access
arr.append(50)  # insert last
arr.remove(20)  # remove

30

ðŸ‘‰ 'i' means integer type array.


Other examples: 'f' = float, 'd' = double.

In [3]:
from array import array

# syntax: array(typecode, [elements])
arr = array('i', [10, 20, 30, 40, 50])
print("Original array:", arr)

Original array: array('i', [10, 20, 30, 40, 50])

In [4]:
# acessing element
print("First element:", arr[0])
print("Third element:", arr[2])

First element: 10
Third element: 30

In [5]:
# add element at last
arr.append(60)
print("After append:", arr)

After append: array('i', [10, 20, 30, 40, 50, 60])

In [6]:
#add element at specific place
arr.insert(2, 25)
print("After insert:", arr)

After insert: array('i', [10, 20, 25, 30, 40, 50, 60])

In [7]:
#Update / Modify Element
arr[3] = 99
print("After update:", arr)

After update: array('i', [10, 20, 25, 99, 40, 50, 60])

In [8]:
#Remove Element (by value)
arr.remove(25)
print("After remove:", arr)

After remove: array('i', [10, 20, 99, 40, 50, 60])

In [9]:
#Pop Element (remove last element)
popped = arr.pop()
print("Popped value:", popped)
print("After pop:", arr)

Popped value: 60
After pop: array('i', [10, 20, 99, 40, 50])

In [10]:
#Delete by Index (using del)
del arr[1]
print("After deleting index 1:", arr)

After deleting index 1: array('i', [10, 99, 40, 50])

In [11]:
#Search for an Element
index_pos = arr.index(40)
print("Index of 40:", index_pos)

Index of 40: 2

In [12]:
#Get Length of Array
print("Length of array:", len(arr))

Length of array: 4

In [13]:
#Reverse Array
arr.reverse()
print("After reverse:", arr)

After reverse: array('i', [50, 40, 99, 10])

In [14]:
#Loop through Array
print("Array elements:")
for i in arr:
    print(i)

Array elements:
50
40
99
10

In [15]:
#Convert Array to List
lst = arr.tolist()
print("Converted list:", lst)

Converted list: [50, 40, 99, 10]

In [16]:
#Reverse array
arr = [10,20,30,40,50]
print(arr[::-1])

[50, 40, 30, 20, 10]

In [18]:
#Find maximum element
arr = [7,5,9,13,2]
print(max(arr))

13

In [19]:
#Find minimum element
arr = [7,5,9,13,2]
print(min(arr))

2

In [20]:
#Find 2nd largest element
arr = [10,30,20,50,40]
arr.sort()
print(arr[-2])

40

In [21]:
#Count Even & Odd in an array
arr = [1,2,3,4,5,6,7,8]
even = 0
odd = 0
for x in arr:
    if x % 2 == 0:
        even += 1
    else:
        odd += 1

print("Even:",even)
print("Odd:",odd)

Even: 4
Odd: 4

In [22]:
#Sum of all elements
arr = [10,20,30,40]
total = sum(arr)
print(total)

100

In [23]:
#Remove duplicates
arr = [1,2,2,3,4,4,5]
arr = list(set(arr))
print(arr)

[1, 2, 3, 4, 5]

In [24]:
#Linear Search (search element)
arr = [10,20,30,40,50]
target = 30

found = False
for i in range(len(arr)):
    if arr[i] == target:
        print("Found at index", i)
        found = True
        break

if not found:
    print("Not Found")

Found at index 2

In [25]:
#Binary Search (sorted array required)
arr = [10,20,30,40,50,60]
target = 40

low = 0
high = len(arr)-1

while low <= high:
    mid = (low + high) // 2
    if arr[mid] == target:
        print("Found at index", mid)
        break
    elif arr[mid] < target:
        low = mid + 1
    else:
        high = mid - 1

Found at index 3

In [26]:
#Merge two arrays
a = [10,20,30]
b = [40,50,60]
c = a + b
print(c)

[10, 20, 30, 40, 50, 60]

In [27]:
#Find missing number in array (1 to n)
arr = [1,2,3,5]
n = 5
missing = (n*(n+1)//2) - sum(arr)
print(missing)

4

In [28]:
#Frequency of each element
arr = [1,2,2,3,3,3,4]

freq = {}
for x in arr:
    freq[x] = freq.get(x,0) + 1

print(freq)

{1: 1, 2: 2, 3: 3, 4: 1}

In [29]:
#Move all zeros to end
arr = [0,1,0,3,12]
res = []

zero_count = 0
for x in arr:
    if x == 0:
        zero_count += 1
    else:
        res.append(x)

res += [0]*zero_count
print(res)

[1, 3, 12, 0, 0]

In [30]:
#Rotate array left by 1
arr = [1,2,3,4,5]
arr = arr[1:] + [arr[0]]
print(arr)

[2, 3, 4, 5, 1]

In [31]:
#Rotate right by 1

arr = [1,2,3,4,5]
arr = [arr[-1]] + arr[:-1]
print(arr)

[5, 1, 2, 3, 4]