#**What is Python?**
Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

It is a simple and easy to understand language which feels like reading simple English. This Pseudo code nature is easy to learn and understandable by beginners.

#**Features of Python**
• Easy to understand = Less development time

• Free and open source

• High level language

• Portable: Works on Linux / Windows / Mac.

• Fun to work with!

#**What can Python do?**
•Python can be used on a server to create web applications.

•Python can be used alongside software to create workflows.

•Python can connect to database systems. It can also read and modify files.

•Python can be used to handle big data and perform complex mathematics.

•Python can be used for rapid prototyping, or for production-ready software development.

In [ ]:
# we use the print() function to display text or output values
print("Hello World!")
print("I am learning Python.")
print("It is awesome!")

Hello World!
I am learning Python.
It is awesome!

**Python Comments**

* Comments can be used to explain Python code.

* Comments can be used to make the code more readable.

* Comments can be used to prevent execution when testing code.

In [ ]:
#This is a comment
print("Hello, World!")

#print("Hello, World!")
print("Cheers, Mate!")

Hello, World!
Cheers, Mate!

In [ ]:
# this is multiline comment
"""
This is a multi line comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

**Variables**

* Variables are containers for storing data values.

* Python has no command for declaring a variable.

* A variable is created the moment you first assign a value to it.


**RULES FOR CHOOSING AN IDENTIFIER**
* A variable name must start with a letter or the underscore character.

* A variable name cannot start with a number.

* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ).

* Variable names are case-sensitive (age, Age and AGE are three different variables).

* A variable name cannot be any of the Python keywords.

Examples of a few variable names are: nik, one8, seven, _seven etc.

In [ ]:
x = 4       # x is of type int
y = "Harry" # x is now of type str
print(x)
print(y)

4
Sally

In [ ]:
# Python allows you to assign values to multiple variables in one line
x, y, z = "Guava", "Banana", "Pomegranate"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [ ]:
#
x = "Python"
y = "is"
z = "language"
print(x, y, z)

Python is awesome

In [ ]:
# we can also use the + operator to output multiple variables
x = "He "
y = "is "
z = "awesome"
print(x + y + z)

Python is awesome

In [ ]:
# For numbers, the + character works as a mathematical operator
x = 5
y = 10
print(x + y)

15

**Global Variables**

* Variables that are created outside of a function are known as global variables.

* Global variables can be used by everyone, both inside of functions and outside.

In [ ]:
x = "language"

def myfunc():
  print("English is " + x)

myfunc()

English is language

**Datatypes**

* Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

**Text Type:**	str

**Numeric Types:**	int, float, complex

**Sequence Types:**	list, tuple, range

**Mapping Type:**	dict

**Set Types:**	set, frozenset

**Boolean Type:**	bool

**Binary Types:**	bytes, bytearray, memoryview

**None Type:**	NoneType

In [ ]:
a = "Hello World"
b = 20
c = 20.5
d = 1j
e = ["apple", "banana", "cherry"]
f = ("apple", "banana", "cherry")
g = range(6)
h = {"name" : "John", "age" : 36}
i = {"apple", "banana", "cherry"}
j = frozenset({"apple", "banana", "cherry"})
k = True
l = b"Hello"

# type() function is used to find the data type of a given variable in python.

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(type(i))
print(type(j))
print(type(k))
print(type(l))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
<class 'bytes'>

In [ ]:
#Python is a fantastic language that automatically identifies the type of data for us.

a= 71 # identifies a as class <int>
b=88.44 # identifies b as class <float>
name= "Nik" # identifies name as class <str>

In [ ]:
a= 30  # variables = container to store a value.
b= "NIK"  # keywords = reserved words in python
c= 71.22  # identifiers = class/function/variable name

#**OPERATORS IN PYTHON**

1. Arithmetic operators: +, -, *, / etc.
2. Assignment operators: =, +=, -= etc.
3. Comparison operators: ==, >, >=, <, != etc.
4. Logical operators: and, or, not.

In [ ]:
x = 10
y = 2

print(x + y)
print(x - y)
print(x * y)
print(x / y)   #/ - Division (returns a float)
print(x % y)
print(x ** y)
print(x // y) #// - Floor division (returns an integer)

12
8
20
5.0
0
100
5

In [ ]:
x = 15
y = 3

print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

False
True
True
False
True
False

In [ ]:
x = 6

print(x > 0 and x < 10)

True

In [ ]:
#When we compare two values, the expression is evaluated and Python returns the Boolean answer
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

**Typecasting**

*   There are many functions to convert one data type into another .
*   Casting in python is therefore done using constructor functions.

*  int() , float() , str()

In [ ]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3
print(x)
print(y)
print(z)

1
2
3

In [ ]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'
print(x)
print(y)
print(z)

s1
2
3.0

In [ ]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [ ]:
a=str(31)     # integer to string conversion
b=int("32")   # string to integer conversion
c=float(32)   # integer to float conversion
print(a)
print(b)
print(c)

31
32
32.0

**Input() Function**
This function allows the user to take input from the keyboard as a string.

In [ ]:
A = input ("enter name : ")

enter name : Akio

#**Strings**



*   String is a data type in python.

*   String is a sequence of characters enclosed in quotes.

* Strings in python are surrounded by either single quotation marks, or double quotation marks.

* 'hello'  is the same as "hello".

In [ ]:
print("Hey ! I am AKIO")

a = "How are you?"
print(a)

Hey ! I am AKIO
How are you?

In [ ]:
# Multiline String
# we can assign a multiline string to a variable by using three quotes.
poem = """
Twinkle twinkle little star.
How I wonder what you are.
Up above the world so high.
Like a diamond in the sky.
"""
print(poem)

Twinkle twinkle little star.
How I wonder what you are.
Up above the world so high.
Like a diamond in the sky.

**String Slicing**

* A string in python can be sliced for getting a part of the strings.
* Syntax: string[start:end:step]

In [ ]:
str1 = "Hello, World!"
print(str1[2:5] ) # "llo"
print(str1[:4])
print(str1[4:])

llo
Hell
o, World!

In [ ]:
word = "amazing"
print(word[1: 6: 2])
print(word[5::2])

mzn
n

In [ ]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [ ]:
s = "Python"
for char in s:
    print(char)

P
y
t
h
o
n

In [ ]:
name = "akio_Kumar_Singh"
name = "A" + name[1:]   # create new string
print(name)

Akio_Kumar_Singh

**Modify Strings**

In [ ]:
a = "Hello, World!"
print(a.upper())    #returns the string in upper case


b = "Hello, World!"
print(b.lower())   #returns the string in lower case

c = " Hello, World! "
print(c.strip()) # removes any whitespace from the beginning or the end.

d = "Hello, World!"
print(d.replace("H", "J"))  # replaces a string with another string.

e = "Hello, World!"
print(e.split(","))   #splits the string into substrings if it finds instances of the separator.

HELLO, WORLD!
hello, world!
Hello, World!
Jello, World!
['Hello', ' World!']

In [ ]:
#Create an f-string
age = 36
txt = f"My name is nik, I am {age}"
print(txt)

My name is nik, I am 36

**Strings Method**

* Some of the commonly used functions to perform operations on or manipulate strings.
* All string methods return new values. They do not change the original string.

In [ ]:
# len () function – This function returns the length of the strings.

str = "harry"
print(len(str))

5

In [ ]:
# String.endswith() – This function_ tells whether the variable string ends with the string  or not.
print(str.endswith("rry"))

True

In [ ]:
#string.count("c") – counts the total number of occurrences of any character.
str = "harry"
count = str.count("r")
print(count)

2

In [ ]:
# capitalize()	Converts the first character to upper case
str = "harry"
capitalized_string = str.capitalize()
print(capitalized_string)

Harry

In [ ]:
# string.find(word) – This function friends a word and returns the index of first occurrence of that word in the string.
str = "harry"
index = str.find("rr")
print(index)

2

In [ ]:
#string.replace (old word, new word ) – This function replace the old word with new word in the entire string.
str = "harry"
replaced_string = str.replace("r", "l")
print(replaced_string)

hally

#**List in python**
* Lists are used to store multiple items in a single variable.
* Can contain duplicate items.
* **Mutable**: items can be modified, replaced, or removed.
* **Ordered**: maintains the order in which items are added.
* **Index-based**: items are accessed using their position (starting from 0).
* Can store mixed data types (integers, strings, booleans, even other lists).

In [ ]:
a = [1, 2, 3, 4, 5] # List of integers
b = ['apple', 'banana', 'cherry'] # List of strings
c = [1, 'hello', 3.14, True] # Mixed data types

print(a)
print(b)
print(c)

[1, 2, 3, 4, 5]
['apple', 'banana', 'cherry']
[1, 'hello', 3.14, True]

In [ ]:
a = list((1, 2, 3, 'apple', 4.5))
print(a)

b = list("ABC")
print(b)

[1, 2, 3, 'apple', 4.5]
['A', 'B', 'C']

In [ ]:
# Elements in a list are accessed using indexing.
a = [10, 20, 30, 40, 50]
print(a[0])
print(a[-1])
print(a[1:4])   # elements from index 1 to 3

10
50
[20, 30, 40]

In [ ]:
# To change the value of a specific item, refer to the index number.
list1 = ["apple", "banana", "cherry"]
list1[1] = "blackcurrant"
print(list1)

list2 = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
list2[1:3] = ["blackcurrant", "watermelon"]
print(list2)

['apple', 'blackcurrant', 'cherry']
['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

#List Methods
**Adding Elements into List**

We can add elements to a list using the following methods:

* append(): Adds an element at the end of the list.
* extend(): Adds multiple elements to the end of the list.
* insert(): Adds an element at a specific position.
* clear(): removes all items.

In [ ]:
a = []

a.append(10)
print("After append(10):", a)

a.insert(0, 5)
print("After insert(0, 5):", a)

a.extend([15, 20, 25])
print("After extend([15, 20, 25]):", a)

a.clear()
print("After clear():", a)

After append(10): [10]
After insert(0, 5): [5, 10]
After extend([15, 20, 25]): [5, 10, 15, 20, 25]
After clear(): []

**Removing Elements from List**

We can remove elements from a list using:

* remove(): Removes the first occurrence of an element.
* pop(): Removes the element at a specific index or the last element if no index is specified.
* del statement: Deletes an element at a specified index.

In [ ]:
a = [10, 20, 30, 40, 50]

a.remove(30)
print("After remove(30):", a)

popped_val = a.pop(1)
print("Popped element:", popped_val)
print("After pop(1):", a)

del a[0]
print("After del a[0]:", a)

After remove(30): [10, 20, 40, 50]
Popped element: 20
After pop(1): [10, 40, 50]
After del a[0]: [40, 50]

In [ ]:
# List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "e" in x:
    newlist.append(x)

print(newlist)

['apple', 'cherry']

In [ ]:
# sort() method that will sort the list numerically/alphanumerically, ascending, by default
list3 = [100, 50, 65, 82, 23]
list3.sort()
print(list3)

list4 = ["orange", "mango", "kiwi", "pineapple", "banana"]
list4.sort()
print(list4)

[23, 50, 65, 82, 100]
['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
# Sort the list descending:
list5 = ["orange", "mango", "kiwi", "pineapple", "banana"]
list5.sort(reverse = True)
print(list5)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [ ]:
#Reverse the order of the list items:

list6 = ["banana", "Orange", "Kiwi", "cherry"]
list6.reverse()
print(list6)

list7 = [100, 50, 65, 82, 23]
list7.reverse()
print(list7)

['cherry', 'Kiwi', 'Orange', 'banana']
[23, 82, 65, 50, 100]

In [ ]:
# count()   Returns the number of elements with the specified value
list_ = ["banana", "Orange", "Kiwi", "cherry","banana"]
count_of_banana = list_.count("banana")
print(f"Count of 'banana': {count_of_banana}")

Count of 'banana': 2

In [ ]:
#join two list
lista = ["a", "b", "c"]
listb = [1, 2, 3]

listc = lista + listb
print(listc)

['a', 'b', 'c', 1, 2, 3]

#**Tuple**
* A tuple in Python is an immutable ordered collection of elements.

* Tuples are similar to lists, but unlike lists, they cannot be changed after their creation (i.e., they are immutable).
* Allow duplicates-Since tuples are indexed, they can have items with the same value.
* Tuples can hold elements of different data types.
* The main characteristics of tuples are being ordered, heterogeneous and immutable.

In [ ]:
tup = ()
print(tup)

# Using String
tup = ('Geeks', 'For')
print(tup)

# Using List
li = [1, 2, 4, 5, 6]
print(tuple(li))

# Using Built-in Function
tup = tuple('world')
print(tup)

()
('Geeks', 'For')
(1, 2, 4, 5, 6)
('w', 'o', 'r', 'l', 'd')

In [ ]:
tup1 = ("apple", "banana", "cherry")
print(tup1[1])

tup2 = ("apple", "banana", "cherry")
print(tup2[-1])

banana
cherry

In [ ]:
# Accessing Tuple with Indexing
tup = tuple("world")
print(tup[0])

# Accessing a range of elements using slicing
print(tup[1:4])
print(tup[:3])

# Tuple unpacking
tup = ("hello", "myy", "world")

# This line unpack values of Tuple1
a, b, c = tup
print(a)
print(b)
print(c)

w
('o', 'r', 'l')
('w', 'o', 'r')
hello
myy
world

In [ ]:
# Tuples can be concatenated using the + operator.
tup1 = (0, 1, 2, 3)
tup2 = ( 'how', 'are','you')

tup3 = tup1 + tup2
print(tup3)

(0, 1, 2, 3, 'how', 'are', 'you')

In [ ]:
# Slicing a tuple means creating a new tuple from a subset of elements of the original tuple.
tup = tuple('HELLOWORLD')

# Removing First element
print(tup[1:])

# Reversing the Tuple
print(tup[::-1])

# Printing elements of a Range
print(tup[4:9])

('E', 'L', 'L', 'O', 'W', 'O', 'R', 'L', 'D')
('D', 'L', 'R', 'O', 'W', 'O', 'L', 'L', 'E', 'H')
('O', 'W', 'O', 'R', 'L')

In [ ]:
# tuples methods
a = (1, 7, 2, 1)
print(a.count(1))   # a count (1) will return number of times 1 occurs in a.
print(a.index(1))   # will return the index of first occurrence of 1 in a.

2
0

#**Python Sets**

* Python set is an **unordered** collection of multiple items having different datatypes.
 * In Python, sets are **mutable**, **unindexed** and **do not contain duplicates**. The order of elements in a set is not preserved and can change.

* Can store None values.
* Implemented using hash tables internally.
* Do not implement interfaces like Serializable or Cloneable.
* Python sets are not inherently thread-safe; synchronization is needed if used across threads.

In [ ]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [ ]:
#Duplicate values will be ignored.
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [ ]:
set1 = set()
print(set1)

set1 = set("HelloMyyWorld")
print(set1)

# Creating a Set with the use of a List
set1 = set(["Hello", "Myy", "World"])
print(set1)

# Creating a Set with the use of a tuple
tup = ("Hello", "Myy", "World")
print(set(tup))

# Creating a Set with the use of a dictionary
d = {"Hello": 1, "Myy": 2, "World": 3}
print(set(d))

set()
{'r', 'W', 'l', 'o', 'H', 'd', 'M', 'y', 'e'}
{'Myy', 'World', 'Hello'}
{'Myy', 'World', 'Hello'}
{'Myy', 'World', 'Hello'}

In [ ]:
set1 = {3, 1, 4, 1, 5, 9, 2}

print(set1)  # Output may vary: {1, 2, 3, 4, 5, 9}

# Unindexed: Accessing elements by index is not possible
# This will raise a TypeError
try:
    print(set1[0])
except TypeError as e:
    print(e)

{1, 2, 3, 4, 5, 9}
'set' object is not subscriptable

In [ ]:
#We can add items to a set using add() method and update() method. add() method can be used to add only a single item.
# To add multiple items we use update() method.

# Creating a set
set1 = {1, 2, 3}

# Add one item
set1.add(4)

# Add multiple items
set1.update([5, 6])

print(set1)

{1, 2, 3, 4, 5, 6}

In [ ]:
#pop() method removes and returns an arbitrary element from the set
set1 = {1, 2, 3, 4, 5}
val = set1.pop()
print(val)
print(set1)

1
{2, 3, 4, 5}

**PROPERTIES OF SETS**
1. Sets are unordered => Element’s order doesn’t matter.
2. Sets are unindexed => Cannot access elements by index.
3. There is no way to change items in sets.
4. Sets cannot contain duplicate values.

**OPERATIONS ON SETS**

*   `len()`: Returns the length of the set.
*   `remove()`: Removes ... from the set `s`.
*   `pop()`: Removes and returns an arbitrary element from the set.
*   `clear()`: Empties the set `s`.
*   `union({})`: Returns a new set with all items from both sets, e.g., `{1,8,2,3,11}` for `s = {1, 8, 2, 3}`.
*   `intersection({})`: Returns a set which contains only items present in both sets, e.g., `{8}` for `s = {1, 8, 2, 3}`.

In [1]:
s = {1, 8, 2, 3}
print(len(s))

s.remove(8)
print(s)

s.pop()
print(s)

s.clear()
print(s)

4
{1, 2, 3}
{2, 3}
set()

In [2]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'John', 'b', 'cherry', 'a', 'bananas', 'c', 'Elena', 'apple'}

In [3]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [4]:
#A frozenset in Python is a built-in data type that is similar to a set but with one key difference that is immutability.
# Creating a frozenset from a list
fset = frozenset([1, 2, 3, 4, 5])
print(fset)

# Creating a frozenset from a set
set1 = {3, 1, 4, 1, 5}
fset = frozenset(set1)
print(fset)

frozenset({1, 2, 3, 4, 5})
frozenset({1, 3, 4, 5})

#**Python Dictionaries**

* Python dictionary is a **data structure** that stores the value in key: value pairs.
* Values in a dictionary can be of any data type and can be **duplicated**, whereas keys can't be repeated and must be **immutable**.



  **PROPERTIES OF PYTHON DICTIONARIES**
1. It is unordered.
2. It is mutable.
3. It is indexed.
4. Cannot contain duplicate keys.

In [17]:
dict1 = {
  "fruits": "Apple",
  "vegetable": "Carrot",
  "price": 60
}
print(dict1) # access dictionary
print(dict1["fruits"])  # access value by key
print(dict1.keys())   # access whole keys in
print(dict1.items())  #Returns a list of (key,value)tuples.

{'fruits': 'Apple', 'vegetable': 'Carrot', 'price': 60}
Apple
dict_keys(['fruits', 'vegetable', 'price'])
dict_items([('fruits', 'Apple'), ('vegetable', 'Carrot'), ('price', 60)])

In [11]:
car = {
"company": "Mahendra",
"model": "Thar",
"year": 1964
}

x = car.keys()

print(x) #before the change

# ............add items.............

car["color"] = "Black"
print(x) #after the change

dict_keys(['company', 'model', 'year'])
dict_keys(['company', 'model', 'year', 'color'])

In [13]:
# update dictionary
dict1 = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict1.update({"year": 2020})
print(dict1)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

**Removing Dictionary Items**


*   del: Removes an item by key.
* pop(): Removes an item by key and returns its value.
* clear(): Empties the dictionary.
* popitem(): Removes and returns the last key-value pair.

In [19]:
d = {'name': 'AKIO', 'city': 'DELHI', 'course': 'BTECH', 'age':22}

# Using del to remove an item
del d["age"]
print(d)

# Using pop() to remove an item and return the value
val = d.pop('name')
print(val)

# Using popitem to removes and returns
# the last key-value pair.
key, val = d.popitem()
print(f"Key: {key}, Value: {val}")

# Clear all items from the dictionary
d.clear()
print(d)

{'name': 'AKIO', 'city': 'DELHI', 'course': 'BTECH'}
AKIO
Key: course, Value: BTECH
{}

In [20]:
# nested dictionary
d = {1: 'one', 2: 'two',
        3: {'A': 'Apple', 'B': 'Boy', 'C': 'Cat'}}

print(d)

{1: 'one', 2: 'two', 3: {'A': 'Apple', 'B': 'Boy', 'C': 'Cat'}}