#**Conditional Statements in Python**

* Conditional statements in Python are used to execute certain blocks of code based on specific conditions.

**If Conditional Statement**
* If statement is the simplest form of a conditional statement.
*  It executes a block of code if the given condition is true.

**If else Conditional Statement**
* If Else allows us to specify a block of code that will execute if the condition(s) associated with an if or elif statement evaluates to False.
*  Else block provides a way to handle all other cases that don't meet the specified conditions.

**elif Statement**
* elif statement in Python stands for "else if."
* It allows us to check multiple conditions, providing a way to execute different blocks of code based on which condition is true.

**Nested if..else Conditional Statement**
* Nested if..else means an if-else statement inside another if statement.
* We can use nested if statements to check conditions within conditions.

In [1]:
#If statement:

a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [2]:
# input from user
age = input("enter a age :")
if int(age) >= 18:
  print("You are an adult")
  print("You can vote")
  print("You have full legal rights")

enter a age :18
You are an adult
You can vote
You have full legal rights

**Indentation**
* Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

In [4]:
a = 33
b = 200
if b > a:
  print("b is greater than a") # you will get an error

b is greater than a

In [5]:
a = 33
b = 200
if b > a:
  print("b is greater than a") # you will not get an error

b is greater than a

In [6]:
# If else statement

age = 10
if age <= 12:
    print("Travel for free.")
else:
    print("Pay for ticket.")

Travel for free.

In [7]:
age = input("enter a age :")
if int(age) >= 18:
  print("You are eligible for vote")
else:
  print("You are not eligible for vote")

enter a age :15
You are not eligible for vote

In [8]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [9]:
#check number is even or odd
number = int(input("enter a number : "))

if number % 2 == 0:
  print("The number is even")
else:
  print("The number is odd")

enter a number : 45
The number is odd

In [10]:
# elif statement

#Categorizing age groups:

age = 25

if age < 13:
  print("You are a child")
elif age < 20:
  print("You are a teenager")
elif age < 65:
  print("You are an adult")
elif age >= 65:
  print("You are a senior")

You are an adult

In [11]:
day = int(input('enter the number of days : '))

if day == 1:
  print("Monday")
elif day == 2:
  print("Tuesday")
elif day == 3:
  print("Wednesday")
elif day == 4:
  print("Thursday")
elif day == 5:
  print("Friday")
elif day == 6:
  print("Saturday")
elif day == 7:
  print("Sunday")

enter the number of days : 4
Thursday

In [12]:
# Short Hand/One-line if statement

a = 5
b = 2
if a > b: print("a is greater than b")

a is greater than b

In [13]:
# Short Hand /one-line If ... Else
a = 2
b = 330
print("A") if a > b else print("B")

B

In [14]:
# Nested If else
# Checking multiple conditions with nesting

age = 25
has_license = True

if age >= 18:
  if has_license:
    print("You can drive")
  else:
    print("You need a license")
else:
  print("You are too young to drive")

You can drive

**Python Logical Operators**
* Logical operators are used to combine conditional statements. Python has three logical operators:

and - Returns True if both statements are true.

or - Returns True if one of the statements is true.

not - Reverses the result, returns False if the result is true.

In [15]:

a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [16]:
username = "Tabish"
password = "Tab@123"
is_verified = True

if username and password and is_verified:
  print("Login successful")
else:
  print("Login failed")

Login successful

In [17]:
salary = int(input("enter a salary : "))
experience = int(input("enter a experience : "))
degree = "BTech"

if (salary > 50000 and experience >= 2) or degree == "MBA":
    print("Eligible for promotion")
else:
    print("Not eligible")

enter a salary : 460000
enter a experience : 2
Eligible for promotion

In [18]:
# Leap Year
year = int (input("Enter a year : "))

if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
    print("Leap year")
else:
    print("Not leap year")

Enter a year : 2020
Leap year

In [19]:
marks = int (input("Enter a marks : "))

if marks >= 90:
    print("Grade A")
elif marks >= 75:
    print("Grade B")
elif marks >= 60:
    print("Grade C")
else:
    print("Grade Fail")

Enter a marks : 76
Grade B

#Same problem but different method

**Largest of 3 numbers**

In [20]:
# method 1

a = int (input("Enter a number A: "))
b = int (input("Enter a number B: "))
c = int (input("Enter a number C: "))

if a > b and a > c:
    print(f"{a} is largest")
elif b > a and b > c:
    print(f"{b} is largest")
else:
    print(f"{c} is largest")

Enter a number A: 123
Enter a number B: 34
Enter a number C: 54
123 is largest

In [21]:
# method 2

a = int(input("Enter A: "))
b = int(input("Enter B: "))
c = int(input("Enter C: "))

if a > b:
    if a > c:
        print(a, "is largest")
    else:
        print(c, "is largest")
else:
    if b > c:
        print(b, "is largest")
    else:
        print(c, "is largest")

Enter A: 112
Enter B: 114
Enter C: 321
321 is largest

In [22]:
# method 3

a = int(input("Enter A: "))
b = int(input("Enter B: "))
c = int(input("Enter C: "))

largest = max(a, b, c)
print("Largest number is:", largest)

Enter A: 123
Enter B: 456
Enter C: 765
Largest number is: 765

In [23]:
3# method 4

a = int(input("Enter A: "))
b = int(input("Enter B: "))
c = int(input("Enter C: "))

nums = [a, b, c]
nums.sort()

print("Largest number is:", nums[-1])

Enter A: 34
Enter B: 3
Enter C: 32
Largest number is: 34

In [24]:
2# method 5

a = int(input("Enter A: "))
b = int(input("Enter B: "))
c = int(input("Enter C: "))

largest = a if (a > b and a > c) else (b if (b > c) else c)
print("Largest:", largest)

Enter A: 112
Enter B: 112
Enter C: 112
Largest: 112

**Python Match**

* The match statement is used to perform different actions based on different conditions.

* Instead of writing many if..else statements, you can use the match statement.

* The match statement selects one of many code blocks to be executed.

In [25]:
day = 4
match day:
  case 1:
    print("Monday")
  case 2:
    print("Tuesday")
  case 3:
    print("Wednesday")
  case 4:
    print("Thursday")
  case 5:
    print("Friday")
  case 6:
    print("Saturday")
  case 7:
    print("Sunday")

Thursday

In [26]:
day = 4
match day:
  case 1 | 2 | 3 | 4 | 5:
    print("Today is a weekday")
  case 6 | 7:
    print("I love weekends!")

Today is a weekday

In [27]:
x = 15
match x:
    case int() as n if n % 2 == 0:
        print(f"{n} is even integer")
    case int() as n:
        print(f"{n} is odd integer")
    case _:
        print("Not an integer")

15 is odd integer

In [34]:
def check_number(x):
    match x:
        case 10:
            print("It's 10")
        case 20:
            print("It's 20")
        case _:
            print("It's neither 10 nor 20")

check_number(30)

It's neither 10 nor 20