#**Loops in Python - For, While and Nested Loops**

* Loops in Python are used to repeat actions efficiently. The main types are For loops (counting through items) and While loops (based on conditions).

**For Loop**
* For loops is used to iterate over a sequence such as a list, tuple, string or range.
* It allow to execute a block of code repeatedly, once for each item in the sequence.

**While Loop**
* In Python, a while loop is used to execute a block of statements repeatedly until a given condition is satisfied.
* When the condition becomes false, the line immediately after the loop in the program is executed.

**Nested Loops**
* Python programming language allows to use one loop inside another loop which is called nested loop.

**RANGE FUNCTION IN PYTHON**

* The **range()** function in python is used to generate a sequence of number.
* We can also specify the start, stop and step-size as follows:
**range(start, stop, step_size)**
* step_size is usually not used with range()

In [1]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [2]:
# Print 1 to 100
for i in range(1,101,10):
    print(i)

1
11
21
31
41
51
61
71
81
91

In [3]:
for i in range(1,11):
    print("9 *", i, "=", 9*i)

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [4]:
# Print even numbers 1 to 50
for i in range(1,51):
    if i%2==0:
        print(i, end=", ")

2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50,

In [5]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [6]:
# print table
n=int(input("Enter number: "))
for i in range(1,11):
    print(n,"x",i,"=",n*i)

Enter number: 19
19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190

In [7]:
#) Sum of first N natural numbers
n=int(input("Enter n: "))
sum=0
for i in range(1,n+1):
    sum = sum + i
print(f"Sum of total natural no. is up to  {n} is  :",sum)

Enter n: 100
Sum of total natural no. is up to  100 is  : 5050

In [8]:
#Factorial of a number
n=int(input("Enter number: "))
f=1
for i in range(1,n+1):
    f*=i
print("Factorial:",f)

Enter number: 5
Factorial: 120

In [9]:
# Fibonacci series
n=int(input("Enter terms: "))
a,b=0,1
for i in range(n):
    print(a,end=" ")
    a,b=b,a+b

Enter terms: 10
0 1 1 2 3 5 8 13 21 34

In [10]:
#Prime number check
n=int(input("Enter number: "))
count=0
for i in range(1,n+1):
    if n%i==0:
        count+=1
if count==2:
    print("Prime")
else:
  print("Not Prime")

Enter number: 13
Prime

In [11]:
#Reverse a number
n=int(input("Enter number: "))
rev=0
while n>0:
    d=n%10
    rev=rev*10+d
    n//=10
print("Reverse:",rev)

Enter number: 123
Reverse: 321

In [12]:
#Sum of digits
n=int(input("Enter number: "))
s=0
while n>0:
    s+=n%10
    n//=10
print("Sum:",s)

Enter number: 123
Sum: 6

In [13]:
#Palindrome number
n=int(input("Enter number: "))
temp=n
rev=0
while n>0:
    rev=rev*10+(n%10)
    n//=10
if rev==temp:
    print(" yes ,it is Palindrome")
else:
    print("Not Palindrome")

Enter number: 121
 yes ,it is Palindrome

In [14]:
#Count digits
n=int(input("Enter number: "))
c=0
while n>0:
    c+=1
    n//=10
print("Total Digits are :",c)

Enter number: 12345
Total Digits are : 5

In [15]:
list1= ['apple','mango','banana','onion','carrot']
for item in list1:
    print(item)
else:
    print("done") # this is printed when the loop exhausts!

apple
mango
banana
onion
carrot
done

**Continue And Break Statement**
* The **continue** statement in Python returns the control to the beginning of the loop.
* The **break** statement in Python brings control out of the loop.

In [16]:
for i in range(5):
    if i == 2:
        continue
    print(i)

0
1
3
4

In [17]:
i = 0
while i < 5:
    print(i)
    if i == 2:
        break
    i += 1

0
1
2

In [18]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [19]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

**PASS STATEMENT**
* pass is a null statement in python.
* It instructs to “do nothing”.

In [20]:
l = [1,7,8]
for item in l:
    #pass # without pass, the program will throw an error

SyntaxError: incomplete input (ipython-input-2842826224.py, line 3)

In [21]:
l = [1,7,8]
for item in l:
    pass

In [22]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [23]:
for i in range(1,6):
    for j in range(1,i+1):
        print("*", end="")
    print()

*
**
***
****
*****

In [24]:
for i in range(5,0,-1):
    for j in range(i):
        print("*", end="")
    print()

*****
****
***
**
*

In [25]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j, end="")
    print()

1
12
123
1234
12345

In [26]:
n = int(input("Enter n: "))  # n = number of rows for upper half
# upper half
for i in range(1, n+1):
    print(" " * (n-i) + "*" * (2*i-1))
# lower half
for i in range(n-1, 0, -1):
    print(" " * (n-i) + "*" * (2*i-1))

Enter n: 8
       *
      ***
     *****
    *******
   *********
  ***********
 *************
***************
 *************
  ***********
   *********
    *******
     *****
      ***
       *

In [27]:
rows = int(input("Enter number of rows: "))

for i in range(rows):
    for j in range(i+1):
        print(j+1, end=" ")
    print()

Enter number of rows: 8
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8

In [28]:
rows = int(input("Enter number of rows: "))

ascii_value = 65

for i in range(rows):
    for j in range(i+1):
        alphabet = chr(ascii_value)
        print(alphabet, end=" ")

    ascii_value += 1
    print()

Enter number of rows: 8
A
B B
C C C
D D D D
E E E E E
F F F F F F
G G G G G G G
H H H H H H H H

In [29]:
rows = int(input("Enter number of rows: "))

k = 0

for i in range(1, rows+1):
    for space in range(1, (rows-i)+1):
        print(end="  ")

    while k!=(2*i-1):
        print("* ", end="")
        k += 1

    k = 0
    print()

Enter number of rows: 8
              *
            * * *
          * * * * *
        * * * * * * *
      * * * * * * * * *
    * * * * * * * * * * *
  * * * * * * * * * * * * *
* * * * * * * * * * * * * * *

In [30]:
#  Pascal's Triangle

rows = int(input("Enter number of rows: "))
coef = 1

for i in range(1, rows+1):
    for space in range(1, rows-i+1):
        print(" ",end="")
    for j in range(0, i):
        if j==0 or i==0:
            coef = 1
        else:
            coef = coef * (i - j)//j
        print(coef, end = " ")
    print()

Enter number of rows: 8
       1
      1 1
     1 2 1
    1 3 3 1
   1 4 6 4 1
  1 5 10 10 5 1
 1 6 15 20 15 6 1
1 7 21 35 35 21 7 1

In [31]:
# Floyd's Triangle

rows = int(input("Enter number of rows: "))
number = 1

for i in range(1, rows+1):
    for j in range(1, i+1):
        print(number, end=" ")
        number += 1
    print()

Enter number of rows: 8
1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21
22 23 24 25 26 27 28
29 30 31 32 33 34 35 36