#**Python Modules**
* A Python module is a file containing Python definitions and statements. A module can define functions, classes, and variables. A module can also include runnable code.

**or**

* A module is simply a Python file (.py) that contains code — functions, variables, or classes — which you can reuse in another Python program.

**Why Modules are Used?**

* To organize code (split large programs into smaller files)
* To reuse code in multiple projects
* To avoid repetition
* To maintain code easily

In [1]:
#Create a Python Module
# A simple module, calc.py
def add(x, y):
    return (x+y)

def subtract(x, y):
    return (x-y)

#Types of Modules
* **Built-in Modules** - Provided by Python automatically (math, os, random, datetime)
* **User-defined Modules** - Created by programmer (mymodule.py)
* **External Modules** - Installed using (pip numpy, pandas, requests)

In [2]:
#Create a Python Module
# A simple module, calc.py
def add(x, y):
    return (x+y)

def subtract(x, y):
    return (x-y)

# importing  module calc.py
print(add(10, 2))
print(subtract(10, 2))

12
8

In [3]:
# importing sqrt() and factorial from the
# module math
from math import sqrt, factorial

# if we simply do "import math", then
# math.sqrt(16) and math.factorial()
# are required.
print(sqrt(16))
print(factorial(6))

4.0
720

In [4]:
# importing built-in module math
import math

# using square root(sqrt) function contained
# in math module
print(math.sqrt(25))

# using pi function contained in math module
print(math.pi)

# 2 radians = 114.59 degrees
print(math.degrees(2))

# 60 degrees = 1.04 radians
print(math.radians(60))

# Sine of 2 radians
print(math.sin(2))

# Cosine of 0.5 radians
print(math.cos(0.5))

# Tangent of 0.23 radians
print(math.tan(0.23))

# 1 * 2 * 3 * 4 = 24
print(math.factorial(4))

5.0
3.141592653589793
114.59155902616465
1.0471975511965976
0.9092974268256817
0.8775825618903728
0.23414336235146527
24

In [5]:
# importing built in module random
import random

# printing random integer between 0 and 5
print(random.randint(0, 5))

# print random floating point number between 0 and 1
print(random.random())

# random number between 0 and 100
print(random.random() * 100)

List = [1, 4, True, 800, "python", 27, "hello"]

# using choice function in random module for choosing
# a random element from a set such as a list
print(random.choice(List))

1
0.8982764129439418
4.8495002199770765
1

In [6]:
# importing built in module datetime
import datetime
from datetime import date
import time

# Returns the number of seconds since the
# Unix Epoch, January 1st 1970
print(time.time())

# Converts a number of seconds to a date object
print(date.fromtimestamp(454554))

1762962607.5464454
1970-01-06

#**RegEx Module**
**RegEx = Regular Expression**

* It is a pattern-matching tool used to search, match, and manipulate strings.

* In Python, we use the re module for working with regular expressions.

**Common Functions in re Module**

**re.match()**---	Checks pattern only at the beginning of the string.

**re.search()**---	Searches pattern anywhere in the string.

**re.findall()**---	Returns all matches as a list.

**re.finditer()**---	Returns iterator of match objects.

**re.split()**---	Splits string by pattern.

**re.sub()**---	Replaces all matches with given text.

**re.compile()**---	Compiles pattern for reuse.

In [7]:
import re

text = "Hello Python"
result = re.match("Hello", text)
print(result.group())

Hello

In [8]:
text = "Learn Python from basics"
result = re.search("Python", text)
print(result.start())   # prints index where found

6

In [9]:
text = "cat bat mat rat"
result = re.findall("[cmr]at", text)
print(result)

['cat', 'mat', 'rat']

In [10]:
text = "Python is easy"
new_text = re.sub("easy", "powerful", text)
print(new_text)

Python is powerful

In [11]:
#Split at each white-space character:

import re

txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

<>:6: SyntaxWarning: invalid escape sequence '\s'
<>:6: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-414553847.py:6: SyntaxWarning: invalid escape sequence '\s'
  x = re.split("\s", txt)

In [12]:
text = "one,two,three"
result = re.split(",", text)
print(result)

['one', 'two', 'three']

In [13]:
#Replace every white-space character with the number 9:

import re

txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

<>:6: SyntaxWarning: invalid escape sequence '\s'
<>:6: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-1491923203.py:6: SyntaxWarning: invalid escape sequence '\s'
  x = re.sub("\s", "9", txt)

* **span()** returns a tuple containing the start-, and end positions of the match.
* string returns the string passed into the function.
* **group(**) returns the part of the string where there was a match.

In [14]:
import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 17)

In [15]:
#Print the string passed into the function:

import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.string)

The rain in Spain

In [16]:
#The regular expression looks for any words that starts with an upper case "S":

import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain

In [17]:
#find all text
text = "cat bat mat rat"
result = re.findall("[cmrb]at", text)
print(result)

['cat', 'bat', 'mat', 'rat']


* **r"..."**	The raw string notation — tells Python not to escape backslashes (\).
* **\b**	Word boundary → ensures match starts at the beginning of a word.
* **[A-Z]**	Matches one uppercase letter (A to Z).
* **[a-z]***	Matches zero or more lowercase letters after that uppercase letter.
* **\b**	Another word boundary to mark the end of the word.

In [18]:
#Find all words starting with capital letter
text = "Hello World from Python"
result = re.findall(r"\b[A-Z][a-z]*\b", text)
print(result)

['Hello', 'World', 'Python']